version: "3.9"

services:
  db:
    image: postgres:16
    container_name: invoices_db
    restart: always
    environment:
      POSTGRES_USER: invoices
      POSTGRES_PASSWORD: invoices_password321
      POSTGRES_DB: invoices
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U invoices -d invoices"]
      interval: 10s
      timeout: 5s
      retries: 5
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - DATABASE_URL=postgresql://invoices:invoices_password321@invoices_db:5432/invoices?schema=public
    depends_on:
      - db
    command: ["sh", "-c", "npx prisma generate && npx prisma migrate dev --name init && npm run dev"]
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - server
volumes:
  postgres_data:
